*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color:#302e2e ;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 40px 16px;
 
}
#container{ 
    width: 100%;
    max-width: 420px;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);}
#form{
    background-color: #181818;
    border-radius: 12px;
    padding: 30px;
     display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
}
label{
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
input{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border:1px solid #333;
    background:#111;
    color:#fff
}
input::placeholder{
    color:#777
}
#save-btn{
    background: #3b82f6;
    border:none;
    padding: 10px;
    border-radius: 8px;
    color:#fff;
    font-size: 15px;
    cursor:pointer;
width: 120px;
float:right;
}
#save-btn:hover{
    color: #0c0c0d;
    opacity: 0.9;
}
#search{
    margin-bottom :20px;
}

#contactList{
    list-style: none;
    padding: 20px;
}
ul li{

}